<div id="sidebar">
  <div id="sidebar-header">
    <div id="sidebar-header-content">
      <div id="sidebar-header-content-avatar">
        <img src="/assets/images/alexandros-koukovistas-profile.jpg" alt="Alexandros Koukovistas">
      </div>
      <div id="sidebar-header-content-name">
        <p>Alexandros Koukovistas</p>
      </div>
    </div>
  </div>
  <div id="sidebar-content">
    <div id="sidebar-content-menu">
      <ul>
        <li><a href="https://github.com/akoukovistas/working-with-me" target="_blank">Working with me</a></li>
        <li><a href="/assets/pdf/alexandros-koukovistas-cv-2024.pdf" download>CV</a></li>
        <li><a href="/contact-me/">Contact</a></li>
      </ul>
    </div>
    <div id="sidebar-content-social">
      <ul>
        <li><a href="https://linktr.ee/koukovistas">All my links</a></li>
      </ul>
    </div>
  </div>
  <div id="sidebar-footer">
    <div id="sidebar-footer-content">
    </div>
  </div>
</div>